.view-container {
    position: relative;
  }
  
  .view-frame.ng-enter,
  .view-frame.ng-leave {
    width: initial;
    background: white;
    bottom: 0;
    left: inherit;
    position:relative;
    
  }
  
  .view-frame.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
  }
  
  .view-frame.ng-leave {
    animation: 1s fade-out;
    z-index: 99;
  }
  
  @keyframes fade-in {
    from {bottom: -1000px;}
    to {top: auto;}
  }
  
  @keyframes fade-out {
    from {top: auto;}
    to {bottom: -1000px;}
  }