
<div  ng-controller="mod2Ctrl" class="container">
<div class="row">
<div class="sidebar-wrapper col-sm-2 cc" >
	<nav id="spy">
		<ul class="sidebar-nav nav">
			<li>
				<a class="btn" ng-click="changeTextE()">E</a>
			</li>	
  			<li>
  				<a class="btn" ng-click="changeTextF()">F</a>
  			</li>
  			<li>
  				<a class="btn" ng-click="changeTextG()">G</a>
  			</li>
  			<li>
  				<a class="btn" ng-click="changeTextH()">H</a>
  			</li>
  		</ul>
	</nav>
</div>

<!-- Page content -->
<div class="main" class="col-sm-offset-4 col-sm-7">
      <h1>{{mod2Text}}</h1>

</div>
</div>
</div>