<div ng-controller="mod3Ctrl" class="container" >

  
<form name="myForm" ng-submit="formSubmit()" novalidate>
<p>Name:
<input name="myName" ng-model="form1.username" required>
<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
</p>
<p>EMPID:
<input type="number" name="myEmpid" ng-model="form1.empid" required>
<span ng-show="myForm.myEmpid.$touched && myForm.myEmpid.$invalid">The name is required.</span>
</p>
<input type="submit"
ng-disabled=" myForm.myName.$error.required ||  myForm.myEmpid.$error.required" >
<!-- <p>value:{{myForm.myName.$dirty}}</p> -->
</form>


<div ng-show='show'>
  <ul>
    <li ng-repeat="emp in employes track by $index"> {{emp.username}}                {{emp.empid}}</li>
  </ul>

</div> 



</div>



